<%= render 'navbar' %>
<div class="sidemenu-container">
	<%= react_component('SideMenu') %>
</div>
<div class="content-container">
	<%= react_component('Tickets', tickets: @tickets) %>
	<%= react_component('CurrentUser', tickets: @current_user_tickets) %>
</div>