body {
  margin: 0;
  padding: 0;
}

.login-section {
  text-align: center;
  margin-top: 50px;
}

.form {
  margin: 0 auto;
}

.navbar {
  text-align: right;
  padding: 5px;
  background: #256188;
  color: white;

  p {
    margin: 0;
  }

  a {
    color: white;
  }
}

.sidemenu-container {
  display: inline-block;
  width: 10%;
  vertical-align: top;
  padding: 10px 20px 0px 0px;

  p {
    margin: 0;
    padding: 10px;
  }

  p:hover {
    cursor: pointer;
    background: #256188;
    color: white;
  }
}

.content-container {
  display: inline-block;
  width: 65%;
}

.ticket {
  padding: 8px;
  width: 200px;
}

.ticket-text {
  margin: 0;
  font-size: 14px;
  padding: 5px;
}

.single-ticket-container {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  margin: 10px 5px;
  min-height: 300px;
}

h3 {
  margin: 15px;
}
